{% extends 'common/base.html' %}

{% block content %}

    {% if page_obj %}

        <h1 class='text-center'>My cars</h1>
        <div class="row">

            {% for car in page_obj %}

                <div class="card mb-3" style="width: 15rem; margin-left: 2em">
                    <h3 class="card-header">{{ car.brand }}</h3>
                    <div class="card-body">
                        <h5 class="card-title">Year: {{ car.year }}</h5>
                    </div>
                    <img src="{{ car.image }}" class="card-img-top">
                    <div class="card-body">
                        <p class="card-text">{{ car.description }}</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">&euro; {{ car.price }}</li>
                    </ul>
                    <div class="card-footer text-muted">
                        <a href="{% url 'car details' car.id %}" class="btn btn-info">Details</a>
                    </div>
                </div>

            {% endfor %}

            <div>
                <ul class="pagination">

                    <li class="page-item">
                        <a title="First Page" href="?page=1" class="page-link">&laquo;</a>
                    </li>
                    {% if page_obj.has_previous %}
                        <li class="page-item">
                            <a href="?page={{ page_obj.previous_page_number }}"
                               class="page-link">{{ page_obj.previous_page_number }}</a>
                        </li>
                    {% endif %}

                    <li class="page-item active">
                        <a class="page-link" href="">{{ page_obj.number }}</a>
                    </li>

                    {% if page_obj.has_next %}
                        <li class="page-item">
                            <a href="?page={{ page_obj.next_page_number }}"
                               class="page-link">{{ page_obj.next_page_number }}</a>
                        </li>
                    {% endif %}
                    <li class="page-item">
                        <a title="Last Page" href="?page={{ page_obj.paginator.num_pages }}"
                           class="page-link">&raquo;</a>
                    </li>
                </ul>
            </div>

        </div>

    {% else %}

        <h1 class='text-center'>No added cars yet</h1>
        <div class="m-auto d-flex justify-content-center">
            <div class="m-2">
                <a class="btn btn-primary" href="{% url 'create car' %}">Add Car</a>
            </div>
        </div>

    {% endif %}



{% endblock %}